@page
@model Biblioteka.Pages.Borrowings.ConfirmationModel

@{
    ViewData["Title"] = "Confirmation";
}

<div class="myContainerv2">
<h1>Potwierdzenie wypożyczenia</h1>
<div>
    Dane:
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Borrowing.book.title)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Borrowing.book.title)
        </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reader.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reader.FullName)
            </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Borrowing.borrowId" />
        <input type="submit" value="Potwierdź" class="btn btn-danger" /> |
        <a asp-page="./IndexAdmin">Wróć</a>
    </form>
</div>
</div>
